@charset "utf-8";

.cafeinfo_tab {
    width: 166px;
    height: 55px;
    padding: 13px 0;
    text-align: center;
    background-color: #f7dd94;
    border-radius: 10px;
    margin: 0 auto;
}

.east {
    background-color: #f7dd94;
}

.south {
    background-color: #d7f794;
}

.west {
    background-color: #fdffb0;
}

.cafeinfo_section {
    margin: 50px 20%;
}

.cafeinfo_subtitle {
    font-size: 20px;
}

.cafeinfo_flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* 最後のコンテンツを左寄せにする指定 */
.cafeinfo_flex:after {
    content: "";
    display: block;
    width: 25%; /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
}

@media screen and (min-width: 770px) {
    .cafeinfo_tab {
        width: 70%;
    }

    .cafeinfo_subtitle {
        margin: 10px 0;
    }

    .cafeinfo p {
        display: inline-block;
        margin: 20px 40px;
    }
}
