@charset "utf-8";

.ivent_item_card {
    max-width: 267px;
    width: 100%;
    height: 264px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
}

.ivent_item_card img {
    width: 228px;
    height: 127px;
    margin-top: 13px;
    border: 1px solid #665a3d;
    border-radius: 10px;
}

.ivent_item_card + .ivent_item_card {
    margin-top: 54px;
}

.ivent_item_card p + p {
    margin-top: 25px;
}

@media (min-width: 770px) {
    .ivent_flex {
        display: flex;
    }
    .ivent_item {
        margin: 80px auto 80px;
        align-content: space-between;
        row-gap: 50px;
        flex-wrap: wrap;
    }
    .ivent_item:after {
        content: "";
        width: 341px;
        margin-top: 20px;
        color: aliceblue;
    }
    .ivent_item_card + .ivent_item_card {
        margin-top: 0;
    }
    .ivent_item_card {
        width: 287px;
        height: 440px;
    }
    .ivent_item_card img {
        width: 246px;
        height: 252px;
    }
}
