@charset "utf-8";

.event_item_card a {
    display: block;
    padding: 15px;
}

.event_item_card {
    max-width: 320px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
}

.event_item_card img {
    width: 100%;
    border: 1px solid #665a3d;
    border-radius: 10px;
    object-fit: cover;
}

.event_item_card + .event_item_card {
    margin-top: 54px;
}

.event_item_card p + p {
    margin-top: 15px;
}

/* category一覧 */

.category_title {
    font-size: 24px;
    display: inline-block;
    width: 304px;
    margin-bottom: 47px;
    margin-top: 80px;
    background-color: #d9cdb0;
    border-radius: 10px;
    border-top: 5px dotted white;
    border-bottom: 5px dotted white;
}

.category_list {
    text-decoration: underline solid 1px black;
    margin: 0 auto;
    text-align: center;
}

.category_item + .category_item {
    margin-top: 20px;
}

.bgcnone {
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

@media (min-width: 770px) {
    .event_flex {
        display: flex;
    }

    .event_item {
        width: 65%;
        /* margin: 80px auto 80px; */
        align-content: space-between;
        row-gap: 50px;
        flex-wrap: wrap;
    }
    .event_item:after {
        content: "";
        margin-top: 20px;
        color: aliceblue;
    }
    .event_item_card + .event_item_card {
        margin-top: 0;
    }

    .event_item_card img {
        height: 252px;
    }

    .event_item_card a {
        display: inline-block;
        transition: 0.3s;
    }
    .event_item_card a:hover {
        opacity: 0.6;
        transform: translateY(5px);
        box-shadow: 0 0 0 #333;
    }

    .bgcnone {
        background-color: white;
        border: 3px solid #ffdf8c;
        width: 265px;
        border-radius: 37px;
        padding-top: 80px;
        padding-bottom: 10px;
    }

    /* category一覧 */
    .main_inner {
        position: relative;
    }

    .category_title {
        font-size: 24px;
        display: inline-block;
        width: 304px;
        margin-bottom: 47px;
        margin-top: 130px;
        background-color: #d9cdb0;
        border-radius: 10px;
        border-top: 5px dotted white;
        border-bottom: 5px dotted white;
    }

    .category_title {
        margin-bottom: 0;
        margin-top: 0;
        left: -20px;
        right: 0;
        top: 15px;
        position: absolute;
    }

    .category_list {
        position: absolute;
        top: 130px;
        right: 0;
    }
}
