@charset 'utf-8';

/* ........... 
    フッター部分
  ........... */

.footer {
    background-color: #f8b600;
}

.footer_wave {
    background-color: #fff8e6;
}

.footer_inner {
    width: 100%;
}

.footer_nav {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.footer_nav_title_concept p {
    font-weight: bold;
    margin: 0 auto 12px;
}

.footer_nav_title_taxonomy_area p {
    font-weight: bold;
    margin: 20px auto 12px;
}

.footer_nav_title_other p {
    font-weight: bold;
    margin: 20px auto 12px;
}

.footer_copyright p {
    margin-top: 40px;
    text-align: center;
}

.with_girl {
    position: relative;
}

.footer_girl {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 10px;
    bottom: 40px;
    z-index: 1;
    /* object-fit: contain;
    animation-name: anim_s;
    animation: anim_s 10s infinite alternate; */
    overflow: hidden;
}

@keyframes anim_s {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    60% {
    }
    100% {
        transform: rotate(20deg);
    }
}

@media (min-width: 770px) {
    .footer_inner {
        max-width: 1024px;
        margin: 0 auto;
    }

    .footer_nav {
        flex-direction: row;
        margin-bottom: 110px;
    }

    .footer_nav_title_concept {
        margin: 20px 42px;
    }

    /* 項目とリンクのボトム感覚 */
    .footer_nav_title_taxonomy_area {
        margin: 0 auto;
    }

    .footer_nav_title_concept p {
        margin: 0 auto 40px;
    }

    .footer_nav_title_taxonomy_area p {
        margin: 20px auto 40px;
    }

    .footer_nav_title_other p {
        margin: 20px auto 40px;
    }

    /* 女の子のアニメーション */

    .footer_girl {
        width: 250px;
        height: 250px;
        left: 10%;
    }
}
