@charset "utf-8";

/***********************
    このサイトについて
 **********************/
body {
    line-height: 1.8;
}

main {
    margin-bottom: 150px;
}

.about_title {
    width: 220px;
    margin: 50px auto;
}

.text {
    margin-bottom: 20px;
}

@media screen and (min-width: 770px) {
    .text {
        width: 70%;
    }
}
