@charset "utf-8";

.faq {
    width: 100%;
}

.text {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #e9fcc1;
    text-align: left;
}

.text p img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.text p:nth-child(1) {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #c8f763;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    /* text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray; */
    /* text-underline-offset: 5px; */
}

.text p:nth-child(2) {
    text-align: left;
}

.text a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    text-underline-offset: 5px;
}

.text a:hover {
    color: #f8b600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: #f8b600;
    text-underline-offset: 5px;
}

@media screen and (min-width: 770px) {
    .text {
        width: 70%;
        padding: 30px;
    }
}

.btn_faq {
    width: 100%;
    margin-top: 50px;
    border: none;
    text-align: center;
}

.btn_faq a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f8b600;
    border-radius: 10px;
    color: black;
    /* text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.44), 1px 1px 1px #4a0a11; */
    text-align: center;
}
.btn_faq a:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: shad26 1.5s infinite;
}
@keyframes shad26 {
    0% {
        box-shadow: 0 0 0 0 orange;
    }
    70% {
        box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);
    }
}
