@charset "utf-8";

/***********************
    共通
 **********************/
form {
    margin-top: 25px;
}

@media screen and (min-width: 770px) {
    form {
        margin-top: 50px;
    }
}

.subtitle {
    font-size: 16px;
}

.form {
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f7dd94;
}

.form_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #fff8e6;
    border-radius: 10px;
}

.form_item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.item_wrap {
    width: 90%;
    margin: 20px auto;
    /* max-width: fit-content; */
}

.item_title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline solid 1px black;
    text-underline-offset: 5px;
}

.item_title02 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline solid 1px black;
    text-underline-offset: 5px;
}

.ac_label {
    width: 90%;
    margin: 0 auto;
    padding: 3px 0;
    border-radius: 10px;
    background-color: #f7dd94;
}

.south_label {
    background-color: #d7f794;
}

.west_label {
    background-color: #fdffb0;
}

/* ボタン */

.form_btns {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.reset_btn {
    background-color: #fdffb0;
    border: 1px solid gray;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
    padding: 10px 50px;
    border-radius: 10px;
}

.submit_btn {
    background-color: #f7dd94;
    border: 1px solid gray;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
    padding: 10px 55px;
    border-radius: 10px;
    margin: 20px 0;
}

.btn {
    width: 180px;
    padding: 20px;
    margin-top: 30px;
}

/* チェックボックス */
.ac_list {
    width: 90%;
    /* gap: 0.5em 2em; */
    border: none;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ac_list label {
    width: 45%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 0 0.5em;
    position: relative;
    cursor: pointer;
}

/* flex-wrap最後の配置を左詰にする */
.ac_list:after {
    content: "";
    width: 45%;
    margin: 10px auto;
    color: aliceblue;
}

.ac_list label::before,
.ac_list label:has(:checked)::after {
    content: "";
}

.ac_list label::before {
    /* 四角の大きさ */
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(146, 143, 143);
}

.ac_list label:has(:checked)::before {
    background-color: #eca351;
}

.ac_list label:has(:checked)::after {
    /* チェック */
    position: absolute;
    top: 8px;
    left: 5px;
    transform: rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.ac_list input {
    display: none;
}

/* チェックボックス */
.checkbox-001 {
    width: 90%;
    /* gap: 0.5em 2em; */
    border: none;
    margin: 0 auto;
}

.checkbox-001 label {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 0 0.5em;
    position: relative;
    cursor: pointer;
}

.checkbox-001 label::before,
.checkbox-001 label:has(:checked)::after {
    content: "";
}

.checkbox-001 label::before {
    /* 四角の大きさ */
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(146, 143, 143);
}

.checkbox-001 label:has(:checked)::before {
    background-color: #eca351;
}

.checkbox-001 label:has(:checked)::after {
    /* チェック */
    position: absolute;
    top: 8px;
    left: 5px;
    transform: rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.checkbox-001 input {
    display: none;
}

@media screen and (min-width: 770px) {
    .subtitle {
        font-size: 20px;
    }

    .item_title {
        margin-bottom: 20px;
    }

    .ac_list {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* flex-wrap最後の配置を左詰にする */
    .east_list:after {
        content: "";
        width: 25%;
        margin: 10px auto;
        color: aliceblue;
    }

    .ac_list label {
        width: 25%;
    }

    .ac_label {
        padding: 5px;
    }

    .checkbox-001 {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-001 label {
        width: 40%;
        margin-left: 40px;
    }

    .checkbox-001:after {
        content: "";
        width: 50%;
        margin: 10px 0;
        color: aliceblue;
    }

    .form_btns {
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }
}

/* カード */
.searcharea_text {
    text-align: left;
}

.searcharea_item a {
    display: inline-block;
    margin: 10px auto;
}

.searcharea_item {
    max-width: 330px;
    margin: 60px auto;
}

.searcharea_item_card {
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    min-height: 396px;
    max-height: 396px;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
}

.searcharea_item_card img {
    min-height: 200px;
    max-height: 200px;
    min-width: 299px;
    max-width: 299px;
    margin-top: 13px;
    border: 1px solid #665a3d;
    border-radius: 10px;
    object-fit: cover;
}

.searcharea_item_card_title {
    font-weight: bolder;
}

.border {
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #665a3d;
}

.searcharea_item_card + .searcharea_item_card {
    margin-top: 54px;
}

.searcharea_item_card p + p {
    margin-top: 5px;
}

@media (min-width: 770px) {
    .searcharea_flex {
        display: flex;
        flex-direction: row;
    }

    .searcharea_item a {
        display: inline-block;
        margin: 10px;
    }

    .searcharea_item {
        max-width: 1024px;
        margin: 80px auto 80px;
        align-content: space-between;
        row-gap: 50px;
        flex-wrap: wrap;
    }
    .searcharea_item:after {
        content: "";
        width: 341px;
        margin-top: 20px;
        color: aliceblue;
        /* background-color: #f44336; */
    }

    /* .searcharea_item_card::before {
        content: "";
        width: 287px;
        height: 50px;
    } */
    .searcharea_item_card + .searcharea_item_card {
        margin-top: 0;
    }

    .searcharea_item_card img {
        width: 100%;
        height: 240px;
    }

    .searcharea_item_card {
        display: inline-block;
        transition: 0.3s;
    }
    .searcharea_item_card:hover {
        opacity: 0.8;
        transform: translateY(5px);
        box-shadow: 0 0 0 #333;
    }
}
