@charset "utf-8";
.tcenter {
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.relative {
    position: relative;
}

.news_title {
    text-decoration: underline solid #f8b600;
}

.news_title + .news_title {
    margin-top: 30px;
}

.tcenter {
    position: relative;
    max-width: 320px;
}

.tcenter a {
    text-align: left;
}

/* カテゴリー一覧 */
.category_title {
    font-size: 24px;
    display: inline-block;
    width: 304px;
    background-color: #d9cdb0;
    border-radius: 10px;
    border-top: 5px dotted white;
    border-bottom: 5px dotted white;
}

.category_list {
    text-decoration: underline solid 1px black;
    margin: 0 auto;
    text-align: center;
}

.category_item + .category_item {
    margin-top: 20px;
}

.bgcnone {
    margin: 120px auto;
    background-color: white;
    border: 3px solid #ffdf8c;
    width: 265px;
    border-radius: 37px;
    padding-top: 80px;
    padding-bottom: 10px;
}

.category_list {
    position: relative;
    width: 265px;
}

.category_title {
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
    left: -20px;
    right: 0;
    top: 15px;
}

/* ページナビ */

.page_nav {
    position: absolute;
    left: 0;
    right: 0;
    margin: 50px auto;
}

.sp_none {
    display: none;
}

@media (min-width: 770px) {
    .main_inner {
        margin-bottom: 180px;
    }
    /* カテゴリー一覧 */
    .bgcnone {
        margin: 0 auto;
        background-color: white;
        border: 3px solid #ffdf8c;
        width: 265px;
        border-radius: 37px;
        padding-top: 80px;
        padding-bottom: 10px;
    }
    .relative {
        position: initial;
    }
    .category_title {
        font-size: 24px;
        display: inline-block;
        width: 304px;
        margin-bottom: 47px;
        margin-top: 130px;
        background-color: #d9cdb0;
        border-radius: 10px;
        border-top: 5px dotted white;
        border-bottom: 5px dotted white;
    }

    .category_list {
        position: relative;
    }
    .category_title {
        position: absolute;
        margin-bottom: 0;
        margin-top: 0;
        left: -20px;
        right: 0;
        top: 15px;
    }

    /* ページナビ */
    .sp_none {
        display: inline-block;
        display: flex;
    }

    .page_nav {
        position: initial;
        margin: 0 auto;
        margin-top: 100px;
    }

    .pc_none {
        display: none;
    }

    /* 項目フレックス */
    .news_flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .tcenter {
        max-width: 450px;
    }

    /* 記事題名ホバーアクション */
    .news_title {
        text-decoration: none;
    }
    .news_title:hover {
        color: #f8b600;
    }

    /* カテゴリー一覧ホバーアクション */
    .category_list {
        text-decoration: none;
    }

    .category_item:hover {
        color: #f8b600;
    }
}
