@charset "utf-8";

/**************************
    Amazonプログラムとは
 **************************/

/* comoncssの追加 */
.amazon_title {
    margin: 0 25% 30px;
}

.title {
    width: 250px;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 20px;
}

.program_btn {
    background-color: #e9fcc1;
}

.main_inner {
    position: relative;
}

.amazon_img {
    position: absolute;
}

.vegetable {
    width: 202px;
    height: 202px;
    top: 30px;
    opacity: 25%;
}

.family {
    width: 211px;
    height: 211px;
    bottom: 60px;
    right: 5px;
    opacity: 25%;
}

@media screen and (min-width: 770px) {
    .title {
        width: 100%;
    }

    .amazon_title {
        margin: 150px 30% 50px;
    }
    .program_btn {
        margin-top: 50px;
    }

    .vegetable {
        width: 455px;
        height: 455px;
        top: -150px;
        left: -70px;
    }
}
