@charset "utf-8";

/***********************
    子供食堂とは
 **********************/

.title {
    width: 180px;
    margin: 50px auto;
}

@media screen and (min-width: 770px) {
    .qbtn {
        margin-top: 50px;
    }
}
