@charset "utf-8";

/***********************
    子供食堂とは
 **********************/
body {
    line-height: 1.8;
}

.concept {
    width: 100%;
}

.concept_inner {
    max-width: 1024px;
    margin: 0 auto;
}

.concept_title {
    width: 180px;
    margin: 50px auto;
}

.text {
    margin-bottom: 20px;
}

@media screen and (min-width: 770px) {
    .text {
        width: 70%;
    }

    .qbtn {
        margin-top: 50px;
    }
}
