@charset "utf-8";

.area_label {
    width: 200px;
    height: 45px;
    padding-top: 10px;
    background-color: #f7dd94;
    border-radius: 10px;
    background-image: url(../images/pulldown.png); /*--矢印の画像を指定--*/
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
}
.area_list {
    display: none;
}

.area_list ul {
}

.area_list ul > li {
}

.area_list input[type="checkbox"] {
    -webkit-appearance: auto;
    /* appearance: auto; */
}

.open {
    background-image: url(../images/index/矢印ボタン\　上2.png); /*--矢印の画像を指定--*/
}

/***********************
        タブ 
 **********************/

.tab {
    max-width: 980px;
    height: 75px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.tab_1,
.tab_2,
.tab_3 {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding: 18px 0;
    text-align: center;
}

.tab_1 {
    background-color: #f7dd94;
}

.tab_2 {
    background-color: #d7f794;
}

.tab_3 {
    background-color: #fdffb0;
}

.panel {
    display: none;
}

.is-show {
    display: block;
}

.tab_js {
    cursor: pointer;
}

/***********************
    共通
 **********************/
.form1,
.form2,
.form3 {
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.form1 {
    height: 950px;
    background-color: #f7dd94;
}

.form2 {
    height: 600px;
    background-color: #d7f794;
}

.form3 {
    height: 1100px;
    background-color: #fdffb0;
}

.form_wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff8e6;
    border-radius: 10px;
}

.form_item {
    width: 100%;
    text-align: center;
}

.item_wrap {
    margin: 20px auto;
    max-width: fit-content;
}

.item_title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

/* セレクトボックス */
.select {
    width: 160px;
    height: 45px;
    /* margin-top: 20px; */
    margin-left: 10px;
    padding-right: 15px;
    border: 2px solid orange;
    border-radius: 10px;
    background-image: url(../images/pulldown.png); /*--矢印の画像を指定--*/
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
    background-color: white;
}

/* ラジオボタン */

.radiobtn {
    font-size: 18px;
    max-width: fit-content;
    margin: 10px auto;
    flex-wrap: wrap;
    /* gap: 0.3em 2em; */
    gap: 0.3em 3em;
    border: none;
}

.radiobtn label {
    display: flex;
    align-items: center;
    /* gap: 0 0.5em; */
    gap: 0 1em;
    position: relative;
    cursor: pointer;
}

.radiobtn label::before,
.radiobtn label::after {
    border-radius: 50%;
    content: "";
}

/* ラジオボタン外枠 */
.radiobtn label::before {
    /* width: 18px;
    height: 18px; */
    width: 25px;
    height: 25px;
    border: 2px solid rgb(182, 176, 176);
    box-sizing: border-box;
}

/* ラジオボタンの中の丸 */
.radiobtn label::after {
    position: absolute;
    top: 50%;
    /* left: 9px; */
    left: 12px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: rgb(206, 201, 201);
}

.radiobtn label:has(:checked)::after {
    background-color: #eca351;
}

.radiobtn input {
    display: none;
}

/* ボタン */

.form_btns {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.reset_btn {
    background-color: #fdffb0;
    margin-bottom: 30px;
}

.btn {
    margin-top: 30px;
}

/********************************
    タブ１項目
 ********************************/

/* 開催日時検索 */

.time_wrap {
    background-color: #fff;
    border: 2px solid #eca351;
    border-radius: 10px;
    padding: 3px;
    justify-content: space-between;
    margin-left: 5px;
}

.time_wrap p {
    margin: 0 8px;
}

/*******************************
    項目２
 *******************************/
.form2 select {
    margin: 20px 0;
}

.age_select {
    width: 280px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
}

.age_select select {
    width: 100px;
    font-size: 14px;
    background-size: 15px;
}

.select_p {
    width: 20px;
    padding-top: 30px;
}

/*******************************
    項目３
 *******************************/
/* チェックボックス */
.checkbox-001 {
    width: 100%;
    /* gap: 0.5em 2em; */
    border: none;
}

.checkbox-001 label {
    width: 70%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 0 0.5em;
    position: relative;
    cursor: pointer;
}

.checkbox-001 label::before,
.checkbox-001 label:has(:checked)::after {
    content: "";
}

.checkbox-001 label::before {
    /* 四角の大きさ */
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(146, 143, 143);
}

.checkbox-001 label:has(:checked)::before {
    background-color: #eca351;
}

.checkbox-001 label:has(:checked)::after {
    /* チェック */
    position: absolute;
    top: 10px;
    left: 18px;
    transform: rotate(45deg);
    width: 15px;
    height: 20px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

.checkbox-001 input {
    display: none;
}

/*******************************
    結果一覧
 *******************************/

.result_img {
    /* display: none; */
}

@media screen and (min-width: 770px) {
    .form1 {
        height: 1050px;
    }

    .form2 {
        height: 650px;
    }

    .form3 {
        height: 750px;
    }
    .item_title {
        margin-bottom: 20px;
    }

    .select {
        width: 250px;
        height: 55px;
    }

    .time_wrap {
        width: 250px;
    }

    .age_select {
        width: 350px;
    }

    .age_select select {
        width: 150px;
        font-size: 16px;
        background-size: 20px;
    }

    .select_p {
        width: 20px;
        padding-top: 30px;
    }

    .checkbox-001 {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-001 label {
        width: 50%;
    }

    .checkbox-001:after {
        content: "";
        width: 50%;
        margin: 10px 0;
        color: aliceblue;
    }

    .form_btns {
        flex-direction: row;
        width: 500px;
    }

    .submit_btn {
        margin-bottom: 30px;
    }
}

/***********************
    ユーティリティ
 **********************/
.flex {
    display: flex;
}
