@charset "utf-8";

/**************************
    Amazonプログラムとは
 **************************/

/* comoncssの追加 */
.title {
    width: 250px;
    margin: 0 auto;
}

.program_title {
    /* margin-bottom: 50px; */
}

.text {
    margin-bottom: 20px;
}

.program_btn {
    background-color: #e9fcc1;
}

@media screen and (min-width: 770px) {
    .program_btn {
        margin-top: 50px;
    }
}
