@charset "utf-8";

/***********************
        タブ 
 **********************/

.tab {
    max-width: 980px;
    height: 75px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.tab_1,
.tab_2,
.tab_3 {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding: 18px 0;
    text-align: center;
}

.tab_1 {
    background-color: #f7dd94;
}

.tab_2 {
    background-color: #d7f794;
}

.tab_3 {
    background-color: #fdffb0;
}

/*****************
    リンク集
 *****************/
.link_content1,
.link_content2,
.link_content3 {
    width: 300px;
    width: 80%;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
}

.link_content1 {
    background-color: #f7dd94;
}

.link_content2 {
    background-color: #d7f794;
}

.link_content3 {
    background-color: #fdffb0;
}

.title {
    width: 170px;
    margin: 0 auto;
}

.page_link_title {
    width: 200px;
    margin: 0 auto;
}

.link_wrap {
    width: 100%;
}

.link {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.link img {
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
}

.link p {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 770px) {
    .link_content1,
    .link_content2,
    .link_content3 {
        width: 700px;
    }

    .link img {
        width: 60%;
    }

    .page_link img:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }
}
/***********************
    ユーティリティ
 **********************/
