@charset "utf-8";

/***********************
    このサイトについて
 **********************/

.title {
    margin: 50px auto;
}

.text {
    margin-bottom: 20px;
}

@media screen and (min-width: 770px) {
    .text {
        width: 70%;
    }
}
