@charset "utf-8";

/***********************
    このサイトについて
 **********************/

.subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.text {
    margin-bottom: 20px;
    width: 70%;
}

.text_title {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #d7f794;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.text a {
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    text-underline-offset: 5px;
}

.text a:hover {
    color: #f8b600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: #f8b600;
    text-underline-offset: 5px;
}

.text p {
    padding: 5px 0;
}

.main_inner {
    position: relative;
}

.about_img {
    position: absolute;
}

.onigiri {
    width: 40%;
    top: 90px;
    opacity: 25%;
}

@media screen and (min-width: 770px) {
    .onigiri {
        top: 55px;
        left: -85px;
    }
}
