@charset "utf-8";

/***********************
        タブ
 **********************/

.tab {
    max-width: 980px;
    height: 75px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.tab_1,
.tab_2,
.tab_3 {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding: 18px 0;
    text-align: center;
}

.tab_1 {
    background-color: #f7dd94;
}

.tab_2 {
    background-color: #d7f794;
}

.tab_3 {
    background-color: #fdffb0;
}

.panel {
    display: none;
}

.is-show {
    display: block;
}

.tab_js {
    cursor: pointer;
}

/**************************
    人的・物的・金銭的詳細
 **************************/
.support_content {
    max-width: 100%;
    margin-top: 50px;
}

.support_supplies,
.support_money,
.support_help {
    /* max-width: 650px; */
    /* width: 280px; */
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
}

.support_supplies {
    background-color: #f7dd94;
}

.support_text {
    padding: 10px;
    text-align: left;
    margin: 0 auto;
}

.support_money {
    background-color: #d7f794;
}

.support_help {
    background-color: #fdffb0;
}

.support_subtitle01,
.support_subtitle02,
.support_subtitle03 {
    width: 90%;
    height: auto;
    font-weight: 500;
    padding-top: 8px;
    border: dashed 2px white;
    margin: 0 auto;
}

.support_subtitle01 {
    background: #f7eac6;
    box-shadow: 0px 0px 0px 5px #f7eac6;
}

.support_subtitle02 {
    background: #e8f7c6;
    box-shadow: 0px 0px 0px 5px #e8f7c6;
}

.support_subtitle03 {
    background: #fdffcc;
    box-shadow: 0px 0px 0px 5px #fdffcc;
}

.support_supplies p,
.support_money p,
.support_help p {
    width: 195px;
    margin: 20px auto;
    text-align: left;
}

.support_btn {
    width: 50%;
    height: 60px;
    padding: 13px;
}

.font_awsome {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ボタン */

.btn_item {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.btn01 a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #fdffb0;
    transition: 0.3s;
    border-radius: 20px;
    transform: translateY(0);
    color: black;
}

.btn_item a:hover {
    padding: 15px 40px;
    transform: translateY(-5px);
    background-color: #fdffb0;
}

.btn03 a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #d7f794;
    transition: 0.3s;
    border-radius: 20px;
    transform: translateY(0);
    color: black;
}

.btn03 a:hover {
    padding: 15px 40px;
    transform: translateY(-5px);
    background-color: #d7f794;
}

@media screen and (min-width: 770px) {
    .support_subtitle01,
    .support_subtitle02 {
        width: 40%;
    }

    .tab_1:hover {
        background-color: #fcc800;
    }

    .tab_2:hover {
        background-color: #a7d28d;
    }

    .tab_3:hover {
        background-color: #fff462;
    }

    .support_supplies,
    .support_money,
    .support_help {
        /* width: 100%; */
        margin-top: 85px;
    }

    .support_btn {
        width: 30%;
        height: 100px;
        padding: 35px;
        margin-top: 50px;
    }

    .support_btn:hover {
        background: #f7c331;
    }

    .support_supplies p,
    .support_money p,
    .support_help p {
        width: 570px;
    }

    .btn_center {
        width: 350px;
    }
}

.block {
    display: inline-block;
}
