@charset "utf-8";

.contact1,
.contact2 {
    width: 100%;
}

.contact2 .subtitle {
    margin-top: 100px;
}

.text {
    width: 80%;
}

.contact1_text_p1 {
    text-decoration: underline solid black;
}

.contact1_text_p2 {
    background-color: #f5deb3;
    font-size: 15px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}

.btn_item {
    display: block;
    width: 180px;
}

.form {
    width: 90%;
    height: auto;
    background-color: #f7dd94;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 10px;
}

.contact2_inner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.contact_item {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contact_item label,
.contact_message label {
    margin: 10px 0;
    font-weight: 500;
}

.required_item {
    width: 190px;
    align-items: center;
}

.contact_item select {
    width: 250px;
    height: 45px;
    padding-right: 15px;
    border: 2px solid orange;
    border-radius: 10px;
    background-image: url(../images/pulldown.png); /*--矢印の画像を指定--*/
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
    background-color: white;
}

.contact_item small {
    width: 40px;
    height: 25px;
    background-color: #f37575;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.contact_item input {
    width: 250px;
    height: 45px;
    border: 2px solid orange;
    border-radius: 10px;
}

.contact_message {
    width: 100%;
    margin: 20px 0;
    /* text-align: center; */
    flex-direction: column;
    align-items: center;
}

.contact_message textarea {
    width: 250px;
    border: 2px solid orange;
    border-radius: 10px;
}

/* チェックボックス */
.checkbox-001 {
    width: 200px;
    margin: 0 auto;
    /* gap: 0.5em 2em; */
    border: none;
}

.checkbox-001 label {
    width: 120px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkbox-001 label::before,
.checkbox-001 label:has(:checked)::after {
    content: "";
}

.checkbox-001 label::before {
    /* 四角の大きさ */
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(146, 143, 143);
}

.checkbox-001 label:has(:checked)::before {
    background-color: #eca351;
}

.checkbox-001 label:has(:checked)::after {
    /* チェック */
    position: absolute;
    top: 2px;
    left: 14px;
    transform: rotate(45deg);
    width: 15px;
    height: 20px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

.checkbox-001 input {
    display: none;
}

/* ボタン */
.form_btns {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.reset_btn {
    background-color: #fdffb0;
}

.btn {
    width: 180px;
    margin-top: 0px;
    padding: 10px 40px;
    border: 1px solid gray;
}

/* 送信確認画面CSS */
.subtitle_text {
    text-align: center;
}

/* 送信画面送信ボタン */
.return_btn {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
}
/* 送信画面テキスト */
.message_text {
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 770px) {
    .contact_item {
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact_item:nth-child(1) {
        flex-direction: column;
    }

    .contact_item select {
        width: 350px;
    }

    input[type="text"],
    input[type="email"] {
        width: 350px;
    }

    .contact_message textarea {
        width: 600px;
    }

    .form_btns {
        flex-direction: row;
        width: 500px;
        justify-content: space-around;
    }
}

/***********************
    ユーティリティ
 **********************/
.flex {
    display: flex;
}
