@charset "utf-8";

.pickup_title_1 {
    text-align: center;
    font-size: 24px;
}

.pickup_title {
    line-height: 2.1;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: #ffb700;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 10px;
}

.pickup_single {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.pickup_top_img {
    margin: 0 auto;
}

.pickup_single_img {
    margin: 50px auto 0 auto;
}

.pickup_single_img img {
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.pickup_single_img:nth-child(1) {
    margin: 20px auto 0 auto;
}

.good {
    margin-top: 5px;
    padding-left: 60%;
}

.iine::after {
    content: "";
    display: inline-block;
    background: url(../images/iine.png);
    background-size: contain;
    vertical-align: top;
    width: 22px;
    height: 22px;
}

.subtitle {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #d7f794;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.pickup_single_text {
    margin: 50px 20px;
    text-align: left;
}

.child_text,
.adult_text {
    font-size: 18px;
    width: 80px;
    text-decoration: underline;
    text-decoration-color: #ffe0ff;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    margin: 20px 0;
}

.underimg {
    margin-bottom: 23px;
}

.good_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cafeinfo_flex {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.address {
    display: inline-block;
    padding: 5px;
    background-color: #8cc98c;
    border-radius: 70%;
}

.area_east {
    display: none;
}

@media (min-width: 770px) {
    .pickup_title_1 {
        margin-top: 120px;
    }

    .pickup_title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .good {
        margin-top: 10px;
        padding-left: 70%;
    }

    .pickup_single {
        max-width: 1024px;
    }

    .pickup_single_img img {
        height: 300px;
    }
}

@media (min-width: 1000px) {
    /***********************
        項目一覧
 **********************/
    .area_east {
        display: block;
    }

    .area_inner {
        max-width: 1024px;
        margin-top: 70px;
        gap: 20px;
    }

    .list_area {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .area_east {
        /* max-width: 730px; */
        /* width: 90%; */
        width: 300px;
        /* height: auto; */
        height: 100%;
        border-radius: 10px;
        margin: 0 auto;
        padding: 25px 20px;
        background-color: #fdffb0;
    }

    .area_title {
        text-align: center;
        width: 210px;
        height: 50px;
        padding-top: 5px;
        background-color: #fff8e6;
        border-radius: 10px;
        margin: 0 auto;
        text-decoration: 0;
        font-size: 20px;
    }

    .area_list_wrap {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* flex-wrap最後の配置を整える */
    .area_list_wrap:after {
        content: "";
        width: 50%;
        margin-top: 5px 0;
        color: aliceblue;
        /* background-color: #f44336; */
    }

    .area_list_wrap li {
        /* text-align: center;
width: 50%; */
        margin: 15px 0;
    }

    .area_list_wrap a:hover {
        color: #f8b600;
    }

    .pickup_single_img img {
        height: 350px;
        border-radius: 10px;
        object-fit: cover;
        aspect-ratio: 4/3;
    }

    .pickup_single_img:nth-child(1) {
        margin: 0 auto;
    }
    .text {
        width: 100%;
    }
}

/***********************
    ユーティリティ
 **********************/
.area_flex {
    display: flex;
}
