@charset 'utf-8';

h2 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline dotted 5px #008000;
    text-underline-offset: 10px;
}

/* 黄色の背景 */
.yellow {
    background-color: #fdffb0;
}

/* ベージュの背景 */
.beige {
    background-color: #f7dd94;
}
