@charset "utf-8";

.pickup_title_1 {
    text-align: center;
    font-size: 24px;
}

.pickup_title {
    line-height: 2.1;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline dotted 5px #ffb700;
    text-underline-offset: 10px;
}

.pickup_single {
    width: 300px;
    margin: 0 auto;
}

.pickup_top_img {
    width: 100%;
}

.pickup_single_img:nth-child(1) {
    margin: 50px auto 0 auto;
}

.pickup_single_img {
    width: 305px;
    height: 220px;
    margin: 50px auto;
}

.pickup_single_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
}

.good {
    margin-top: 5px;
    padding-left: 60%;
}

.iine::after {
    content: "";
    display: inline-block;
    background: url(../images/iine.png);
    background-size: contain;
    vertical-align: top;
    width: 22px;
    height: 22px;
}

.subtitle {
    text-align: left;
    text-decoration: underline 5px #d7f794;
    text-underline-offset: 10px;
}

.pickup_single_text {
    margin: 50px auto;
}

.child_text,
.adult_text {
    font-size: 18px;
    width: 80px;
    text-decoration: underline 3px #ffe0ff;
    text-underline-offset: 10px;
    margin: 20px 0;
}

@media (min-width: 770px) {
    .pickup_title_1 {
        margin-top: 120px;
    }

    .pickup_title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }
    /* .title {
        margin: 10px auto;
    } */

    .pickup_single {
        width: 665px;
    }

    .pickup_single_img {
        width: 481px;
        height: 367px;
    }

    .good {
        margin-top: 10px;
        padding-left: 70%;
    }

    .pickup_single_text {
        margin: 80px auto;
    }
}
